.clickable {
  cursor: pointer;
}

.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.el-popover {
  min-width: 50px;
  box-shadow: 2px 2px 10px 0 rgb(0 0 0 / 30%);
}
